/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  width: 100%;
  background-color: whitesmoke;
}
header .top-nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0px auto;
  width: 100%;
  font-size: 1.3rem;
}
.fixed-image-separator {
  height: 200px;
  width: 100%;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  font-size: 1.3rem;
}
body .top-fold {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  font-size: 1.3rem;
}
body div {
  margin: 50px 0px;
  justify-content: space-between;
}
body h2 {
  font-size: 2rem;
}
body footer nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  font-size: 1.3rem;
}
body footer nav a {
  margin: 10px 0px;
}
body button {
  padding: 15px;
  border-radius: 12px;
  background-color: green;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  body .first-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    font-size: 1.3rem;
    background-color: whitesmoke;
  }
  body .first-row div {
    width: 28%;
  }
  body .second-row {
    background-color: whitesmoke;
  }
}
@media screen and (min-width: 1000px) {
  body {
    max-width: 1200px;
  }
  body .second-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    font-size: 1.3rem;
  }
  body .second-row div {
    width: 45%;
  }
}
header {
  width: 100%;
  background-color: whitesmoke;
}
header .top-nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0px auto;
  width: 100%;
  font-size: 1.3rem;
  margin: 50px 0px;
}
.carousel {
  margin-bottom: 70px;
  width: 100%;
}
.member-picture-plus-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  font-size: 1.3rem;
  margin: 50px 0px;
}
.member-picture-plus-info .member-photo {
  margin-bottom: 20px;
  width: 100%;
}
.member-picture-plus-info .member-info h2 {
  font-size: 2rem;
}
@media screen and (min-width: 800px) {
  .member-picture-plus-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    font-size: 1.3rem;
  }
  .member-picture-plus-info .member-photo {
    width: 48%;
  }
  .member-picture-plus-info .member-info {
    width: 48%;
  }
}
