header {
  width: 100%;
  background-color: whitesmoke;
  .top-nav-bar {
    .displayset (row, space-around, flex-end);
    margin: 50px 0px;
  }
}

.carousel {
  margin-bottom: 70px;
  width: 100%;
}

body {
  .displayset (column, space-around, center);
 
  .first-row div {
    margin: 50px 0px;
  }
  .second-row div {
    margin: 50px 0px;
  }
  footer {
    nav {
      .displayset (column, space-around, center);
      a {
        margin: 10px 0px;
      }
    }
    div {
      margin: 50px 0px;
    }
  }
}
