@media screen and @tablet800 {
    
  body {
    background-color: red;
    
    
    .first-row {
      .displayset (row, space-around, center);
 
      margin: 50px 0px;
    }
    .second-row div {
      margin: 50px 0px;
    }
    footer {
      nav {
        .displayset (column, space-around, center);
        a {
          margin: 10px 0px;
        }
      }
      div {
        margin: 50px 0px;
      }
    }
  }
}