@media screen and @tablet800 {
  body {
    .first-row {
      .displayset (row, space-around, center);
      background-color: whitesmoke;
    }

    .first-row div {
      width: 28%;
    }

    .second-row {
      background-color: whitesmoke;
    }
  }
 }
