@media screen and @tablet800 {
  body {
    .first-row {
      .displayset (row, space-around, center);
      background-color: whitesmoke;
    }

    div {
      margin: 50px 0px;
      justify-content: space-between;
    }

    .first-row div {
      margin: 50px 0px;
      width: 28%;
    }
    .second-row {
      background-color: whitesmoke;
    }
    .second-row div {
      margin: 50px 0px;
    }
  
    footer {
      nav {
        .displayset (column, space-around, center);
        a {
          margin: 10px 0px;
        }
      }
      div {
        margin: 50px 0px;
      }
    }
  }
}
